<!-- Page Sidebar -->
<div class="page-sidebar">
    <a class="logo-box" href="/index">
        <span>
            <i class="mdi mdi-chemical-weapon" id="fixed-sidebar-toggle-button"></i>
            <span>Fadmin</span>
        </span>
        <i class="mdi mdi-close" id="sidebar-toggle-button-close"></i>
    </a>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu simple-bar" data-Current-Page="<%-dataCurrentPage %>" data-simplebar>
            <ul class="accordion-menu">
                <li class="accordion-menu-item">
                    <a href="/index" data-page="index">
                        <i class="menu-icon mdi mdi-home"></i><span>Dashboard</span>
                    </a>
                </li>
                <li class="accordion-menu-item">
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-bullseye"></i><span>UI Elements</span><i class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"><a href="/ui-buttons" data-page="ui-buttons">Buttons</a></li>
                        <li class="sub-menu-item"><a href="/ui-cards" data-page="ui-cards">Cards</a></li>
                        <li class="sub-menu-item"><a href="/ui-tabs-accordions" data-page="ui-tabs">Tabs &amp; Accordions</a></li>
                        <li class="sub-menu-item"><a href="/ui-alerts" data-page="ui-alerts">Alerts</a></li>
                        <li class="sub-menu-item"><a href="/ui-progressbars" data-page="ui-progressbars">Progress Bars</a></li>
                        <li class="sub-menu-item"><a href="/ui-typography" data-page="ui-typography">Typography</a></li>
                        <li class="sub-menu-item"><a href="/ui-grid" data-page="ui-grid">Grid</a></li>
                    </ul>
                </li>
                <li class="accordion-menu-item">
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-cards-outline"></i><span>Icons</span><i class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"><a href="/icons-material" data-page="icons-material">Material Design</a></li>
                        <li class="sub-menu-item"><a href="/icons-ion" data-page="icons-ion">Ion Icons</a></li>
                        <li class="sub-menu-item"><a href="/icons-fontawesome" data-page="icons-fontawesome">Font Awesome</a></li>
                        <li class="sub-menu-item"><a href="/icons-feather" data-page="icons-feather">Feather Icons</a></li>
                        <li class="sub-menu-item"><a href="/icons-themify" data-page="icons-themify">Themify Icons</a></li>
                        <li class="sub-menu-item"><a href="/icons-dripicons" data-page="icons-dripicons">Dripicons</a></li>
                        <li class="sub-menu-item"><a href="/icons-typicons" data-page="icons-typicons">Typicons Icons</a></li>
                    </ul>
                </li>
                <li class="accordion-menu-item">
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-apple-keyboard-command"></i><span>Layouts</span><i class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"><a href="/layout-blank" data-page="layout-blank">Blank Page</a></li>
                        <li class="sub-menu-item"><a href="/layout-boxed" data-page="layout-boxed">Boxed Layout</a></li>
                        <li class="sub-menu-item"><a href="/layout-collapsed-sidebar" data-page="layout-collapsed-sidebar">Collapsed Sidebar</a></li>
                        <li class="sub-menu-item"><a href="/layout-fixed-header" data-page="layout-fixed-header">Fixed Header</a></li>
                        <li class="sub-menu-item"><a href="/layout-fixed-sidebar" data-page="layout-fixed-sidebar">Fixed Sidebar</a></li>
                        <li class="sub-menu-item"><a href="/layout-fixed-sidebar-header" data-page="layout-fixed-sidebar-header">Fixed Sidebar &amp; Header</a></li>
                    </ul>
                </li>
                <li class="accordion-menu-item">
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-clipboard-outline"></i><span>Forms</span><i class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"><a href="/form-mask" data-page="form-mask">Form Mask</a></li>
                        <li class="sub-menu-item"><a href="/form-elements" data-page="form-elements">Form Elements</a></li>
                        <li class="sub-menu-item"><a href="/form-xeditable" data-page="form-xeditable">Form Xeditable</a></li>
                    </ul>
                </li>
                <li class="accordion-menu-item">
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-table"></i><span>Tables</span><i class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"><a href="/tables-footable" data-page="tables-footable">Foo Table</a></li>
                        <li class="sub-menu-item"><a href="/tables-responsive" data-page="tables-responsive">Responsive Table</a></li>
                        <li class="sub-menu-item"><a href="/tables-basic" data-page="tables-basic">Basic Tables</a></li>
                    </ul>
                </li>
                <li class="accordion-menu-item">
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-chart-bubble"></i><span>Chart</span><i class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"><a href="/apexcharts" data-page="apexcharts">Apexcharts</a></li>
                        <li class="sub-menu-item"><a href="/echarts" data-page="echats">Echarts</a></li>
                    </ul>
                </li>
                <li class="accordion-menu-item">
                    <a href="/maps" data-page="maps">
                        <i class="menu-icon mdi mdi-map-marker-multiple"></i><span>Vector Maps</span>
                    </a>
                </li>
                <li class="accordion-menu-item">
                    <a href="javascript:void(0);">
                        <i class="menu-icon mdi mdi-google-pages"></i><span>Extra Pages</span><i class="accordion-icon fa fa-angle-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"><a href="/pages-login" data-page="pages-login">Login</a></li>
                        <li class="sub-menu-item"><a href="/pages-register" data-page="pages-register">Register</a></li>
                        <li class="sub-menu-item"><a href="/pages-recoverpw" data-page="pages-recoverpw">Recover Password</a></li>
                        <li class="sub-menu-item"><a href="/pages-lock-screen" data-page="pages-lock-screen">Lock Screen</a></li>
                        <li class="sub-menu-item"><a href="/pages-400" data-page="pages-400">Error 400</a></li>
                        <li class="sub-menu-item"><a href="/pages-403" data-page="pages-403">Error 403</a></li>
                        <li class="sub-menu-item"><a href="/pages-404" data-page="pages-404">Error 404</a></li>
                        <li class="sub-menu-item"><a href="/pages-500" data-page="pages-500">Error 500</a></li>
                        <li class="sub-menu-item"><a href="/pages-503" data-page="pages-503">Error 503</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="help-box text-center">
            <img src="assets/images/help-center.svg" class="img-fluid" alt="">
            <div class="p-3 text-white">
                <h4 class="pt-2">Help Center</h4>
                <p class="mt-3">Looks like there might be a theme soon.</p>
                <div class="mt-3">
                    <a href="#" class="btn btn-white text-dark">Go to help</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Sidebar -->